# Ignore Gradle project-specific cache directory
.gradle/
.idea/
.kotlin/
.env

!gradle/wrapper/gradle-wrapper.jar
!gradlew
!gradlew.bat

*.iml
*.iws
*.ipr
out/

# Ignore Gradle build output directory
build